<div class="container-sm">
  <h3 class="mb-5 mt-5">Welcome to our support management</h3>
  <div class="row mb-5">
    <div class="col-12">
      <form>
        <div class="mb-3">
          <label for="exampleInputQ" class="form-label">Question</label>
          <input type="text" class="form-control" id="exampleInputQ" aria-describedby="qHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputQ" class="form-label">Answer</label>
          <textarea class="form-control" id="exampleInputA" aria-describedby="aHelp" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row mb-5">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item">
          I'll be a question on the list
          <!-- Tip: Answer should be hidden - this section should work similar to Q&A -->
        </li>
      </ul>
    </div>
  </div>
</div>
