<div class="container-sm">
  <h3 class="mb-5 mt-5">Welcome to our support management</h3>
  <div class="row mb-5">
    <div class="col-12">
      <app-qna-form
        [qna]="selectedQna()"
        (qnaAdded)="onAddQna($event)"
        (qnaUpdated)="onUpdateQna($event)"
      />
    </div>
  </div>

  <hr>

  <div class="row mb-5">
    <div class="col-12">
      <app-qna-list
        [qnas]="qnas()"
        (editQna)="onEditQna($event)"
        (deleteQna)="onDeleteQna($event)"
      />
    </div>
  </div>
</div>
